---
layout: home
title: Home
slug: home
lead: 
base_url: "./"
---
<body onload="mixpanel.track('~page load: facebook lp')">
<main id="content" role="main">
  <div class="jumbotron hero" id="home">
      <div class="container">
          <div class="text-center">
              <h2 class="home-lead">Think Help. Think Greenlight.</h2>
              <h3 class="home-sub">Greenlight Clinic is a <em>free</em> and <em>safe</em> short term therapeutic experience where young people can learn how to understand and manage their feelings in a more stable and less painful way.</h3>
              <div class="row text-center">
                  <div class="">
                      <!-- <button class="btn btn-primary btn-lg btn-home" id="home-sign-up">APPLY NOW</button> -->
                      <div class="text-center">
                          <button href="#myModal" id="#myModal" class="btn btn-primary btn-lg btn-home" data-toggle="modal" data-target="#myModal">TALK TO US</button>
                      </div>
                  </div>
              </div>
              <!--  <i class="fa fa-2x fa-chevron-down light text-center fa-home-container"></i> -->
          </div>
      </div>
  </div>
  {% include feelings.html %}
  {% include statement.html %}
  {% include services.html %}
  {% include getting_started.html %}
  {% include footer.html %}
</main>