<script type="text/javascript">
  $('#myModal').modal('show');
  $('#building-blocks').modal('show');
</script>
<!-- Modal -->
<div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="#myModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title text-center" id="myModalLabel">We want to hear from you</h3>
      </div>
      <div class="modal-body text-center">
      <h3 class="call-lead">Call Us</h3>
      <br>
      <h1 class="grn">555-555-5555</h1>
      <br>
      <h3 class="call-lead">Email Us</h3>
      <br>
      <h3 class="grn">hello@greenlightclinic.org</h3>
      </div>
      <div class="modal-footer">
        <p class="text-center terms-lead">Completely Free • No Commitment • Safe • Confidential</p>
      </div>
    </div>
  </div>
</div>