 <section class="feelings">
    <div class="container text-center">
        <h2 class="section-lead" style="padding:3rem 0 0 0;">We Know That Things Can Get Overwhelming</h2>
        <p class="lead">Young people, living in the Bay Area can often experience confusion and conflict around how to deal with their families, peers, school, economics, and work. We are here to help.</p>
        <div class="row" style="padding:5rem 0;">
            <div class="col-lg-3">
                <h3></h3>
                <h2 class="depression">Depression</h2>
                <i class="fa fa-meh-o fa-5x depression fa-animated"></i>
                
            </div>
            <div class="col-lg-3">
                <h3></h3>
                <h2 class="sadness">Sadness</h2>
                <i class="fa fa-umbrella fa-5x sadness fa-animated"></i>
            </div>
            <div class="col-lg-3">
                <h3></h3>
                <h2 class="frustration">Frustration</h2>
                <i class="fa fa-thumbs-o-down fa-5x frustration fa-animated"></i>
            </div>
            <div class="col-lg-3">
                <h3></h3>
                <h2 class="anger">Anger</h2>
                <i class="fa fa-fire fa-5x anger fa-animated"></i>
            </div>
        </div>
    </div>
</section>