<section class="getting-started">
	<div class="container">
		<div class="row text-center">
			<div class="col-lg-4">
				<h3>1) Contact Us</h3>
				<p class="lead lead-started">Call or email us and we'll schedule a time to chat</p>
				<i class="fa fa-phone fa-5x"></i>
			</div>
			<div class="col-lg-4">
				<h3>2) Consultation</h3>
				<p class="lead lead-started">We start with a one-on-one consultation to asses your needs</p>
				<i class="fa fa-coffee fa-5x"></i>
			</div>
			<div class="col-lg-4">
				<h3>3) Support Plan</h3>
				<p class="lead lead-started">Together, we'll develop a support plan that works for you!</p>
				<i class="fa fa-support fa-5x"></i>
			</div>
		</div>
	</div>
</section>