<section class="services">
	<div class="container">
		<div class="row">
			<div class="col-lg-5 col-lg-offset-1">
				<h2 class=
				"serction-lead">Greenlight Clinic Goals</h2>
				<ul class="glc-services">
					<li>Improve the quality of life for young people</li>
					<li>Help identify and manage feelings</li>
					<li>Help communicate feelings</li>
					<li>Help to navigate through any crisis</li>
					<li>Help to stabilize through any situation</li>
					<li></li>
				</ul>
			</div>
			<div class="col-lg-5">
				<h2 class=
				"serction-lead">Greenlight Clinic Process</h2>
				<ul class="glc-services">
					<li>We offer 50-minute therapy sessions</li>
					<li>Provide free therapy for up to 6 months</li>
					<li>Provide issue focused and age focused group therapy</li>
					<li>Work with licensed therapist and experienced interns</li>
					<li>Provide booster sessions to insure stability and safety</li>
					<li>Provide referrals to low fee agencies</li>
				</ul>
			</div>
		</div>
	</div>
</section>