<section class="statement">
    <div class="container">
        <div class="row">
            <img class="img-responsive center-block" src="https://dl.dropboxusercontent.com/u/11221717/green-light/GC-logo-large.png"
            <div class="col-lg-10 col-lg-offset-1">
                <h2 class="text-center lead lead-statement"><strong>"</strong>Greenlight Clinic is a free short term, therapy setting for 14 – 25 year olds living in the Bay Area. In a safe environment, young people can learn to identify and manage their feelings around issues with families, peers, school, economics, and work. These feelings can result in feelings of sadness, depression, anger, frustration and anxiety. They can also result in very serious consequences such as suicidal feelings, anger, and risk taking behaviors.<strong>"</strong></h2>
            </div>
        </div>
    </div>
</section>